<section fxLayout="row wrap" fxLayoutAlign="center center">
    <form [formGroup]="productForm" autocomplete="off" novalidate (ngSubmit)="createProduct(productForm.value)"
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card fxFlex="500px" fxFlex.xs="100%">
            <mat-card-title>Create a new Product</mat-card-title>
            <mat-card-content>

                <mat-form-field>
                    <input matInput type="text" placeholder="Product's name" formControlName="name" id="name">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Product's description" formControlName="description"
                        id="description">
                    <mat-hint align="end">Not more then 150 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('description', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('description', 'maxlength')">You have more than 150 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Product's cost price" formControlName="costPrice"
                        id="costPrice">
                    <mat-error *ngIf="hasError('costPrice', 'required')">Cost Price is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Product's sale price" formControlName="salePrice"
                        id="salePrice">
                    <mat-error *ngIf="hasError('salePrice', 'required')">Sale price is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Product's quantity" formControlName="quantity"
                        id="quantity">
                    <mat-error *ngIf="hasError('quantity', 'required')">Quantity is required</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!productForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>